<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Budget Program</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>The Budget Program</h1>
            <button @click="loadFetchData">Load data</button>
        </header>

        <section id="incomeSection">
            <h2>Add an income:</h2>
            <form @submit.prevent="addIncomePost">

                <p>Title:</p>
                <input id="incomeTitle" type="text" v-model="incomeText">

                <p>Category:</p>
                <select id="incomeCategory" v-model="incomeCategory">
                    <option value="Pay">Pay</option>
                    <option value="Benefit">Benefit</option>
                    <option value="Gift">Gift</option>
                    <option value="Selling things">Selling things</option>
                </select>

                <p>Amount:</p>
                <input id="incomeAmount" type="number" v-model="incomeAmount">

                <p>Date:</p>
                <input id="incomeDate" type="date" v-model="incomeDate">
                <!--Add a variable for date inside the input and set a variable for getdate in js-->

                <button type="submit">Save income</button>
            </form>

            <div id="allIncomePostsDiv">
                <h3 v-if="hasIncomePosts">All income posts:</h3>

                <button v-if="hasIncomePosts" @click="clearIncomePosts">Delete all income posts</button>
                <h4 v-if="hasIncomePosts">Click on any post to delete</h4>
                <ul>
                    <li v-for="(income, index) in incomePosts" :key="income.incomeID">
                        <label>
                            <input type="checkbox" v-model="income.isChecked">
                            {{income.incomeText}}, {{income.incomeCategory}}, {{income.incomeAmount}},
                            {{income.incomeDate}}
                        </label>
                        <button id="deleteThisIncome" v-if="showIncomeDeleteButton(index)" @click="deleteIncomePost(index)">Delete</button>
                    </li>
                </ul>
            </div>
        </section>

        <section id="expenseSection">
            <h2>Add an expense:</h2>
            <form @submit.prevent="addExpensePost">
                <p>Title:</p>
                <input id="expenseTitle" type="text" v-model="expenseText">

                <p>Category:</p>
                <select id="expenseCategory" v-model="expenseCategory">
                    <option value="Bills">Bills</option>
                    <option value="Groceries">Groceries</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Eating out">Eating out</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Public transport">Public transport</option>
                </select>

                <p>Amount:</p>
                <input id="expenseAmount" type="number" v-model="expenseAmount">

                <p>Date:</p>
                <input id="expenseDate" type="date" v-model="expenseDate">

                <button type="submit">Save expense</button>
            </form>

            <div id="allExpensesPostsDiv">
                <h3 v-if="hasExpensePosts">All expense posts:</h3>

                <button v-if="hasExpensePosts" @click="clearExpensesPosts">Delete all expenses posts</button>
                <h4 v-if="hasExpensePosts">Click on any post to delete</h4>
                <ul>
                    <li v-for="(expense, index) in expensesPosts" :key="expense.expenseID">
                        <label class="expenseLabel">
                            <input class="expenseCheckbox" type="checkbox" v-model="expense.isChecked">
                            {{expense.expenseText}}, {{expense.expenseCategory}}, {{expense.expenseAmount}},
                            {{expense.expenseDate}}
                        </label>
                        <button id="deleteThisExpense" v-if="showExpenseDeleteButton(index)"
                            @click="deleteExpensePost(index)">Delete</button>
                    </li>
                </ul>
            </div>

        </section>

        <section id="summarySection">

            <h2>Summary:</h2>

            <h3>Total income:</h3>
            <p id="totalIncomeAmount">{{totalIncome}}</p>

            <h3>Total expenses:</h3>
            <p id="totalExpensesAmount">{{totalExpenses}}</p>

            <h3>Total balance:</h3>
            <p id="totalBalance">{{totalBalance}}</p>

            <div id="monthlySummary">

                <!-- <div id="monthlyIncomeSection">
                <h4>Income per month:</h4>
                <ol>
                    <li class="incomeMonth" v-for="(income, month) in monthlyIncome" :key="month">
                       <label class="incomeMonthLabel">
                        {{ month }}: {{ income }}</label> </li>
                </ol> -->
                <!-- </div>
                <div class="incomeMonth" v-for="(income, month) in monthlyIncome" :key="month">
                    {{ month }}: {{ income }}
                </div> -->
                <!-- 
                <div id="monthlyExpensesSection">
                    <h4>Expenses per month:</h4>
                <ol>
                    <li class="expenseMonth" v-for="(expense, month) in monthlyExpenses" :key="month">
                       <label class="expenseMonthLabel">
                        {{ month }}: {{ expense }}</label> </li>
                </ol>
                </div> 

                <div id="testIncomeSection">
                    <h4>Test income per month:</h4>
                    <select v-model="selectedIncomeMonth">
                        <option disabled selected>Choose month</option>
                        <option v-for="month in sortedMonthlyIncome" :key="month">
                            {{ month }}: {{ monthlyIncome[month] }}
                        </option>
                    </select>
                </div>

                <div id="testExpensesSection2">
                    <h4>Test expenses per month:</h4>
                    <select v-model="selectedExpensesMonth">
                        <option disabled selected>Choose month</option>
                        <option v-for="month in sortedMonthlyExpenses" :key="month">
                            {{ month }}: {{ monthlyExpenses[month] }}
                        </option>
                    </select>
                </div>-->

                <div id="TestExpensesSection">
                    <h4>Expenses By Year:</h4>
                    <p><select v-model="testSelectedYear" @change="testComputeMonthlyExpenses">
                            <option value="Year">Year</option>
                            <option v-for="year in testYears" :label="year.label">
                                {{year.label}}
                            </option>
                        </select>

                        <!-- <select v-model="testSelectedMonth" @change="testComputeMonthlyExpenses">
                            <option value="Month">Month</option>
                            <option v-for="month in testMonths" :key="month.id">
                                {{ month.label }}
                            </option>
                        </select> -->

                    <div v-if="testSelectedYear !== 'Year'">
                        <!-- Jag vet att man normalt inte vill använda <br> men vågade inte riktigt 
                            göra om dessa till <p> utan att kolla med dig -->

                        <ol>
                            <li v-for="month in testMonths" key:month.id >
                                <p>{{month.label}}:</p> 
                                <p>Income: {{month.monthlyIncome}}, Expenses: {{month.monthlyExpense}}, Balance: {{month.monthlyBalance}}</p>
                            </li>
                        </ol>

                        <!-- <p>Selected year: {{testSelectedYear}} <br> Selected month: {{testSelectedMonth}} <br>
                            Expenses: {{selectedMonthExpenses}}</p> -->

                        <!-- v-show="testSelectedMonth != month.value"> 
                            {{ month.label}}: {{month.value}} -->

                        <!-- <ol>
                            <li v-for="{label, value} in dropDownOptions">
                            {{label}} {{filterByMonthForOptions(value)}} </li>
                            </ol> -->

                    </div>

                    <!-- <div class="expenseMonth" v-for="(expense, month) in monthlyExpenses" :key="month">
                    {{ month }}: {{ expense }}
                    </div> -->

                    <!-- <button @click="toggleExpenses">Show Expenses Summary</button>
                    <div id="expensesPerMonth" :hidden="expensesHidden">

                    <label><input type="radio" id="year" value="Year" v-model="picked">Year</label> -->
                    <!-- <label for="one">Income</label> -->

                    <!-- <label><input type="radio" id="month" value="Month" v-model="picked">Month</label> -->
                    <!-- <label for="two">Expense</label> -->
                    <!-- @change="findUniqueMonths('expenseDate') -->

                    <!-- <h4>Summary:
                        {{picked}}</h4>-->

                    <!-- <div v-if="picked !== 'Month'">
                        <p>Expenses:</p>
                        <ol>
                            <li v-for="{label, value} in dropDownOptions">
                                {{label}} {{filterByMonthForOptions(value)}} </label></li>
                        </ol>
                    </div> -->

                    <!-- <div v-else-if="picked !== 'Year'">
                        <label>
                            <select v-model="perMonth" @change="filterByMonth(perMonth),showAmount">
                                <option value="">Month</option>
                                <option v-for="option in dropDownOptions" :key="option.value" :value="option.value"
                                    v-show="perMonth != option.value">
                                    {{ option.label}}
                                </option>
                            </select>
                        </label>

                        <p v-if="perMonth && perMonth !== ''">Expenses this month: {{monthlyExpenses}}</p>
                    </div>
                </div> -->
                </div>
        </section>

    </div>
</body>

</html>