* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
html {
    font-family: sans-serif;
} */

#app {
    display: grid;
    grid-template:
        "a a a"
        "b c d" / 2fr 2fr 1fr;
}

header{
    text-align: center;
}

header {
    grid-area: a;
}

#incomeSection {
    grid-area: b;
}

#expenseSection {
    grid-area: c;
}

#summarySection {
    grid-area: d;
}