* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(55,56,78);
    color: darkgray;
}

#app {

    padding-left: 50px;
    padding-right: 50px;

    display: grid;
    grid-template:
        "a a a"
        "b c d" / 2fr 2fr 2fr;
}

header {
    text-align: center;
}

#allIncomePostsDiv {
    display: grid;
}

#allExpensesPostsDiv {
    display: grid;
}

#allExpensesPostsDiv h4, #allIncomePostsDiv h4 {
    text-align: center;
}

#allExpensesPostsDiv li, #allIncomePostsDiv li {
    border: solid black 1px;

}

#incomeSection p, #expenseSection p {
    margin-bottom: 1px;
    margin-top: 4px;
}

header {
    margin-top: 20px;
    grid-area: a;
}

#incomeSection {
    grid-area: b;
    padding: 10px;
}

#expenseSection {
    grid-area: c;
    padding: 10px;
}

#summarySection {
    grid-area: d;
    padding: 10px;
    justify-self: center;
}

#monthlySummary {
    border: 2px solid black;
    padding: 5px;
}

#monthlyExpensesSection {
    border-top: 1px solid black;
}

/* #monthlySummary {
    display:grid; 
    grid-template: 
    "a b"
    "c c" /1fr 2fr;
} */

li {
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
}

button {
    margin-bottom: 5px;
    padding: 1px;
    justify-self: center;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 8px;
    display: grid;
}

@media (min-width:1200px) {
    #app {
        padding-left: 80px;
        padding-right: 80px;
    }
}