* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(55, 56, 78);
    color: darkgray;
}

#app {
    padding-left: 50px;
    padding-right: 50px;

    display: grid;
    grid-template:
        "a a a"
        "b c d"
        "e f g" / 3fr 3fr 3fr;
}

header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    grid-area: a;
}

/* #allIncomePostsSection {
    display: grid;
}

#allExpensesPostsSection {
    display: grid;
}  */

#allExpensesPostsSection button,
#allIncomePostsSection button {
    margin-left: 6px;
}

#allExpensesPostsSection h4,
#allIncomePostsSection h4 {
    /* text-align: center; */
    font-size: 12px;
    margin-left: 6px;
}

#allExpensesPostsSection li,
#allIncomePostsSection li {
    border-bottom: solid black 1px;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 2px;
}

.deleteThisExpense,
.deleteThisIncome {
    font-size: 12px;
}

form {
    display: grid;
    justify-content: left;
}

#yearAndMonthSection li p {
    margin: 0px;
}

#addIncomePostSection p,
#addExpensePostSection p {
    margin-bottom: 1px;
    margin-top: 4px;
}

#addIncomePostSection {
    grid-area: b;
    padding: 10px;
}

#addExpensePostSection {
    grid-area: c;
    padding: 10px;
}

#summarySection {
    grid-area: d;
    padding: 10px;
    /* justify-self: center; */
}

#allIncomePostsSection {
    grid-area: e;
}

#allExpensesPostsSection {
    grid-area: f;
}

#monthlySummary {
    /* border: 2px solid black; */
    padding: 5px;
}

#yearAndMonthSection {
    /* 
    border-top: 1px solid black; */
    grid-area: "g";
    padding: 5px;
}

/* #monthlySummary {
    display:grid; 
    grid-template: 
    "a b"
    "c c" /1fr 2fr;
} */

li {
    font-size: 14px;
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
}

button {
    margin-bottom: 5px;
    padding: 1px;
    justify-self: center;
}

button[type="submit"] {
    background-color: rgb(36, 192, 36);
    margin-top: 15px;
    padding: 5px;
}


.clearButton,
.deleteThisIncome,
.deleteThisExpense {
    background-color: red;
    color: white;
}

.clearButton {
    margin-top: 10px;
}

.deleteThisIncome,
.deleteThisExpense {
    object-position: center;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    text-align: start;
}

#allExpensesPostsSection h3,
#allIncomePostsSection h3 {
    text-align: start;
    padding-left: 7px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#summaryTotals {
    color: beige;
    background-color: rgb(32, 60, 86);
}

#summarySection h2 {
    text-align: start;
}

#monthLabel {
    color: beige;
}

h4 {
    margin-top: 5px;
    margin-bottom: 8px;
    display: grid;
    color: beige;
}


@media (min-width:700px) and (max-width:900px) {

    #app {
        display: grid;
        grid-template:
            "a a"
            "b c"
            "d g"
            "e f" /1fr 1fr;

    }

    #summarySection {
        justify-self: left;
        align-self: left;
    }

    #yearAndMonthSection {
        align-self: left;
        justify-self: left;
    }
}

@media (min-width:1200px) {

    header {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #app {
        padding-left: 150px;
        padding-right: 150px;
    }
}


@media (min-width:1400px) {

    #app {
        padding-left: 300px;
        padding-right: 300px;
    }
}

/*
@media (min-width:1500px) {

    header {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #app {
        padding-left: 350px;
        padding-right: 350px;
    } 

} 